* {
    margin: 0;
    padding: 0;
    font-family: Fahkwang;
    /* outline: 2px solid red; */

}

a {
    color: #FE5900;
    text-decoration: none;
}

.home_window {
    background-color: black;
}

.home_image {
    display: flex;
    margin: 0 auto;
    padding-top: 48px;
    ;
}

.home_text {
    margin-top: calc(16vw + 211px);
    margin-left: calc(9vw + 9.80px);
    margin-bottom: calc(11vw + 16.80px);
    width: calc(40vw + 177px);
    display: flex;
    flex-direction: column;
    gap: calc(1vw + 10px);
    color: #F9F2F2A3;
    font-size: calc(0.9vw + 10.48px);


}

.home_text h3 {
    color: white;
    font-size: calc(1.3vw + 13.07px);
}

.home_text a {
    color: rgba(255, 102, 0, 0.889);
    text-decoration: none;
}


.scroll_arrow {
    display: block;
    text-align: center;
    color: #F9F2F2A3;
    padding-bottom: 50px;

}

.scroll_arrow span {
    display: block;
    font-size: 12px;
    text-align: center;
}

.screen2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(18vw + -50.8px);
    padding-top: calc(10vw + -15.80px);
    padding-left: calc(10vw + -15.80px);
    padding-right: calc(10vw + -15.80px);
    /* margin-top: calc(10vw + -16px); */




}

@media (max-width: 500px) {
    .screen2 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
}




.screen2_image {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: calc(10vw + -16px);
    /* margin-top: calc(10vw + -10px); */




}

.screen2_image img {
    width: calc(17.2vw + 262px);

}

.screen2_text {
    width: calc(20.2vw + 262px);
    /* width: calc(17.2vw + 262px); */
    line-height: calc(1.1vw + 17.1px);
    margin-bottom: calc(10vw + 5px);

}

.screen2_text a {
    color: #FE5900;
    text-decoration: none;


}

#screen2bg {
    background-color: #EAF2F8;



}

#screen3bg {
    background-color: #ECF1EF;

}

#screen4bg {
    background-color: #F6F7FB;

}

#screen5bg {
    background-color: #F9F9F9;


}

#screen6bg {
    background-color: #FFF9FA;
    ;

}


#screen7bg {
    background-color: #F6F9FF;

}

.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;


}

.footer span {
    font-family: Fahkwang;
    font-size: calc(1.3vw + 13.07px);
    font-weight: 300;
    line-height: 41.6px;
    text-align: left;

}

.footer p {
    color: gray;
}

.footer_info {
    width: calc(32vw + 254px);
    margin-top: calc(0.7vw + 187px);
    margin-left: calc(9vw + 9.80px);
    margin-bottom: 64px;
    line-height: 41px;

    /* height: 768px;    */
}

.footer_h2 {

    font-family: Fahkwang;
    font-size: calc(4.5vw + 7px);
    font-weight: 700;
    line-height: 93.6px;
    text-align: left;
    color: rgb(245, 240, 240);
    margin-top: calc(0.7vw + 17px);
    margin-bottom: calc(0.7vw + 77px);

    /* margin-bottom: calc(6.1vw + -20px); */



}

.footer_bar {
    width: calc(32vw + 14px);
    margin-top: calc(0.7vw + 17px);
    margin-bottom: calc(6.1vw + 21px);
}

.footer a {
    color: #FE5900;
    padding-left: 17px;

}



